body {
    background: #fff;
}

.mt-6 {
    margin-top: 6rem;
}

.mb-6 {
    margin-bottom: 6rem;
}

.font-14 {
    font-size: 14px !important;
}

.over-flow {
    overflow: hidden;
}

.footer {
    /* height: 7rem; */
    background: #191919;
}

.text-height-25 {
    line-height: 2.5rem;
}

h2,
h3,
h4,
h1,
h5,
h6 {
    margin: 0;
}

.small {
    font-size: 85%;
}

.course-div>div>div:not(:last-child) {
    border-right: 1px rgba(255, 255, 255, 0.25) solid;
}

.a-link>a {
    color: #eaeaea;
    margin: 0 15px;
}

.mb-20 {
    margin-bottom: 10px;
}

.base_div {
    background: white;
}

.pt-6 {
    padding-top: 6rem;
}

.pb-6 {
    padding-bottom: 6rem;
}

.bottom-0 {
    bottom: 0;
}

.border-top-1 {
    border-top: 1px rgba(255, 255, 255, 0.4) solid;
}

.footer-ba {
    font-size: 12px;
    padding: 10px 15px;
}

.img-fluid {
    width: 100%;
}

.text-line-3 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}


.p-span-lefticon span:not(:first-child)::before {
    content: "\f0da";
    padding-right: 10px;
    font: normal normal normal 14px/1 FontAwesome;
    color: red;
}

.p-span-lefticon span:first-child::before,
h5::before {
    content: "\f005";
    padding-right: 10px;
    font: normal normal normal 14px/1 FontAwesome;
    color: #00854c;
}

.line-height-30 {
    line-height: 30px;
}


.about-img {
    width: 450px;
    height: 300px;
    border-radius: 5px;
}

@media screen and (max-width: 1200px) {
    .modal-open>div {
        width: calc(33.3333333% - 10px);
    }
}


@media screen and (max-width: 992px) {
    .mt-6 {
        margin-top: 4rem;
    }

    .mb-6 {
        margin-bottom: 4rem;
    }

    .about-img {
        width: 300px;
        height: 200px;
    }
}

@media screen and (max-width: 768px) {
    .course-div>div>div:not(:last-child) {
        border-right: 0;
        border-bottom: 1px rgba(255, 255, 255, 0.25) solid;
        margin-bottom: 2rem;
    }

    .pt-6 {
        padding-top: 3rem;
    }

    .pb-6 {
        padding-bottom: 3rem;
    }

    .modal-open>div {
        width: calc(50% - 10px);
    }


    .about-img {
        width: 100%;
        height: auto;
    }

    .max-768-column {
        flex-flow: column;
        align-items: flex-start !important;
    }
}

@media screen and (max-width: 576px) {
    .mt-6 {
        margin-top: 1rem;
    }

    .mb-6 {
        margin-bottom: 1rem;
    }

    .card-text {
        line-height: 2rem;
    }

    .pt-6 {
        padding-top: 1rem;
    }

    .pb-6 {
        padding-bottom: 1rem;
    }

    .modal-open>div {
        width: calc(100% - 10px);
    }

    .modal-open>div img {
        height: auto;
    }

    .phone-d-none {
        display: none;
    }

    .mt-4 {
        margin-top: 1rem !important;
    }

    .footer-ba {
        flex-direction: column;
        text-align: center;
    }
}