.navbar {
    border-bottom: 1px #c7c7c7 solid;
}

*{
    font-weight: bold !important;
}

.logo {
    width: 100px;
    height: 80px;
}

.title {
    font-size: 40px;
    letter-spacing: 10px;
    font-family: kai, kaiti;
    font-weight: bold;
}

.font-kaiti{
    font-family: kai,kaiti;
}

.ml-6{
    margin-left: 3.5rem;
}

.bg-000{
    background: #191919;
    color: white;
    font-size: 13px;
}

.kai {
    font-family: kai, kaiti;
    font-weight: bold;
}

.carousel-inner {
    max-height: 600px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 40px;
    height: 40px;
}

.carousel-img-div {
    height: 600px;
    background-size: cover;
    background-position: center;
}

.navbar-nav>li {
    flex: 1;
    font-weight: bolder;
    font-size: 19px;
    font-family: kai, kaiti;
    margin: 0 2px;
}

.silder1 {
    background-image: url('../images/slider1.jpg');
}

.silder2 {
    background-image: url('../images/slider3.jpg');
}

.silder3 {
    background-image: url('../images/index3.jpg');
}

.silder5 {
    background-image: url('../images/index4.jpg');
}

.silder6 {
    background-image: url('../images/index5.jpg');
}

.silder7 {
    background-image: url('../images/index6.jpg');
}
.max-991-block {
    display: none !important;
}

h3 {
    margin: 0;
}

.nav-item {
    text-align: center;
    border: 1px #c7c7c7 solid;
    border-radius: 20px;
    transition: all 0.2s;
}
.nav-item:hover{
    background: #eaeaea;
}

.qr_div img {
    width: 150px;
    height: 150px;
}

.max-row {
    margin-left: 0;
    margin-right: 0;
}

.font-22 {
    font-size: 22px;
}

.audiojs {
    display: none;
}
.hide{
    display: none;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1340px
    }
}

@media screen and (max-width: 1200px) {
    .carousel-inner {
        max-height: 600px;
    }

    .carousel-img-div {
        height: 600px;
    }
}

@media screen and (max-width: 991px) {
    .max-991-none {
        display: none !important;
    }

    .max-991-block {
        display: block !important;
    }

    .max-991-none {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .carousel-inner {
        max-height: 400px;
    }

    .carousel-img-div {
        height: 400px;
    }

    .title {
        font-size: 30px;
    }

    .logo {
        width: 80px;
        height: 60px;
    }
    .max-768-flex{
        flex-direction: column;
    }
    .max-768-0{
        margin-left: 0;
        margin-top: 2rem;
    }
    .max-768-padding-0{
        padding-left:0 !important;
    } 

}


@media screen and (max-width: 550px){
    .max-550-bg-left{
        background-position: left;
    }
}

@media screen and (max-width: 500px) {
    .navbar-brand {
        flex-flow: column;
    }

    .navbar {
        flex-flow: column;
        padding-bottom: 20px !important;
    }

    .navbar-collapse {
        width: 280px;
    }

    .navbar-brand {
        margin: 0;
    }

    .logo {
        margin-right: 0 !important;
    }

    .title {
        position: relative;
        left: 5px;
    }

    .qr_div {
        justify-content: center;
        width: 100%;
        text-align: center;
        margin-left: 0 !important;
    }

    .qr_div img {
        width: 70%;
        height: auto;
    }
}