body {
    background: #fff;
}

.ly-title-text {
    /* font-family: "wenyue"; */
    letter-spacing: 0.5rem;
}

.mt-6 {
    margin-top: 6rem;
}

.dis_none {
    display: none;
}

.mb-6 {
    margin-bottom: 6rem;
}

button a {
    color: inherit;
    text-decoration: none;
}

button a:hover {
    color: inherit;
    text-decoration: none;
}

.introduce-img {
    height: 300px;
    width: 100%;
    background-image: url('../images/slider2.png');
    background-size: cover;
    background-position: center;
}

.font-14 {
    font-size: 14px !important;
}

.card-text {
    line-height: 2rem;
}

.list-group-item {
    cursor: pointer;
}

.course-div {
    padding: 3rem 0;
    background-attachment: fixed;
    overflow: hidden;
    position: relative;
    background-image: url('../images/course_bg.png');
    background-size: cover;
    background-position: center;
}

.navbar {
    border-bottom: 1px #c7c7c7 solid;
}

.course-div:before {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    content: " ";
}

.over-flow {
    overflow: hidden;
}

.footer {
    /* height: 7rem; */
    background: #191919;
}

.text-height-25 {
    line-height: 2.5rem;
}

h2,
h3,
h4,
h1,
h5,
h6 {
    margin: 0;
}

.small {
    font-size: 85%;
}

.course-div>div>div:not(:last-child) {
    border-right: 1px rgba(255, 255, 255, 0.25) solid;
}

.a-link a {
    color: #eaeaea;
    margin: 0 15px;
}

.ke_button {
    display: inline-block;
    height: 38px;
    /* line-height: 38px; */
    padding: 0 18px;
    color: #fff;
    background: transparent;
    border: 1px #fff solid;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.ke_button:hover {
    background: rgba(255, 255, 255, 0.1)
}

.fixed-position {
    top: 0rem;
    font-size: 13px;
}

#anchor_ul li:first-child{
    border-top: 0;
}

.mb-20 {
    margin-bottom: 10px;
}

.base_div {
    background: white;
}

.pt-6 {
    padding-top: 6rem;
}

.pb-6 {
    padding-bottom: 6rem;
}

.modal-open {
    padding: 0;
}

.modal-open>div {
    overflow: hidden;
}

.modal-open>div img {
    transition: all .5s;
    height: 193px;
}

.modal-open>div:hover>img {
    transform: scale(1.2);
}

.modal-open>div {
    padding: 0;
    margin-left: 5px;
    margin-right: 5px;
}

.modal-open>div {
    width: calc(25% - 10px);
}

.share-div>a {
    margin: 0 15px;
    text-decoration: none;
}

.share-div>a>img {
    width: 30px;
}

.bottom-0 {
    bottom: 0;
}

.border-top-1 {
    border-top: 1px rgba(255, 255, 255, 0.4) solid;
}

.footer-ba {
    font-size: 12px;
    padding: 10px 15px;
}

.img-fluid {
    width: 100%;
}

.text-line-3 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}

.letter-0 {
    letter-spacing: 0 !important;
}

.border-eaeaea {
    border: 1px #eaeaea solid;
    border-radius: 6px;
    overflow: hidden;
}

.border-eaeaea>a {
    border-bottom: 1px #eaeaea solid;
}

.border-eaeaea h2 {
    border-bottom: 1px #eaeaea solid;
}


.nav-pills .nav-link {
    border-radius: 0;
}

.enterprise {
    line-height: 30px;
}

.enterprise img {
    margin: 5px 0;
}

.enterprise-title::before {
    content: "\f005";
    padding-right: 10px;
    font: normal normal normal 14px/1 FontAwesome;
    color: #00854c;
}

.enterprise-profit>span:not(:first-child)::before {
    content: "\f0da";
    padding-right: 10px;
    font: normal normal normal 14px/1 FontAwesome;
    color: red;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background: #00854c;
}

.nav-pills .nav-link {
    color: #000;
}

@media screen and (max-width: 1200px) {
    .modal-open>div {
        width: calc(33.3333333% - 10px);
    }

}


@media screen and (max-width: 991px) {
    .mt-6 {
        margin-top: 4rem;
    }

    .mb-6 {
        margin-bottom: 4rem;
    }
}

@media screen and (max-width: 767px) {
    .course-div>div>div:not(:last-child) {
        border-right: 0;
        border-bottom: 1px rgba(255, 255, 255, 0.25) solid;
        margin-bottom: 2rem;
    }

    .pt-6 {
        padding-top: 3rem;
    }

    .pb-6 {
        padding-bottom: 3rem;
    }

    .modal-open>div {
        width: calc(50% - 10px);
    }

    .max-768-column {
        flex-flow: column;
    }

    .enterprise-content {
        margin-top: 2rem;
    }

    #anchor_ul_div{
        display: none !important;
    }
}

@media screen and (max-width: 576px) {
    .mt-6 {
        margin-top: 1rem;
    }

    .mb-6 {
        margin-bottom: 1rem;
    }

    .card-text {
        line-height: 2rem;
    }

    .pt-6 {
        padding-top: 1rem;
    }

    .pb-6 {
        padding-bottom: 1rem;
    }

    .modal-open>div {
        width: calc(100% - 10px);
    }

    .modal-open>div img {
        height: auto;
    }

    .phone-d-none {
        display: none;
    }

    .mt-4 {
        margin-top: 1.5rem !important;
    }

    .footer-ba {
        flex-direction: column;
        text-align: center;
    }

    .border-eaeaea>a:last-child {
        border-bottom: 0;
    }
}